<!DOCTYPE html>
<html>
<head>
  <title>Rails engine one</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rails/engine/one/application", media: "all" %>
  <%= javascript_include_tag "rails/engine/one/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
